<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PayPal Payment Integration</title>
</head>
<body>
  <h1>Transfer Amount</h1>
  <fieldset>
    <legend> Order details </legend>
  <p> <label> Amount </label> 
        <input type = "checkbox"
    name = "Amount" value = "amount"> 100.00 </p>
<p>
    <div>
  <label> Currency </label>
  <select id = "Currency_type">
      <option value="1">USD</option>
      <option value="2">EUR</option>
      <option value="3">THB</option>
      <option value="4">SGD</option>
      <option value="5">AUD</option>
  </select>
</div>
</p>  <p>
    <div>
    <label>Customer Full-name </label>
    <input type="text" id="myText" value="Enter your full name">
  </div> </p>
</fieldset>
  <fieldset>
    <legend> Payment details </legend>
    <div>
    <label> Credit card holder name </label>
    <input type="text" id="name" value="Enter your full name"></div>
<p>
    <div>
  <label> Credit card number </label>
  <input type="text" id="cc_num" value="Enter your (16-digit) Credit card number">
  </div>
</p>  
<p>
    <div>
  <label> Credit card expiration </label>
  <input type="text" id="cc_exp" value="Expiration month/year(MM/YY)">
  </div>
</p>
<p>
    <div>
  <label> Credit card CVV </label>
  <input type="text" id="cvv" value="Enter your CVV">
  </div>
</p>
  </fieldset>
  <form action="/pay" method="post">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
